{% include "header.html" %}
<div class="content">
  <div id="panel">
	<div class="buttons" id="handles_1">
	  <h5>Mam zadanie do wykonania</h5>
      <div>1. zleć swoje zadanie</div>
      <div>2. wybierz najlepszą ofertę</div>
      <div>3. oceń współpracę</div>
	</div>
	<div class="mask_tasks">
		<h5>Ostatnie zadania</h5>
		<div id="box_tasks">
			<div>
				<p id="cena_miasto">20PLN Warszawa</p>
				<p>Odśnieżenie chodnika i schodów</p>
			</div>
			<div>
				<p id="cena_miasto">10PLN Gdynia</p>
				<p>Wyprowadzenie psa na długi spacer</p>
			</div>
			<div>
				<p id="cena_miasto">15PLN Kraków</p>
				<p>Stanie w kolejce w urzędzie miasta</p>
			</div>
			<div>
				<p id="cena_miasto">30PLN Wąchock</p>
				<p>Wieczór opieki nad dzieckiem</p>
			</div>
			<div>
				<p id="cena_miasto">25PLN Wrocław</p>
				<p>Złożenie szafki z IKEA</p>
			</div>
			<div>
				<p id="cena_miasto">20PLN Poznań</p>
				<p>Usunięcie wirusa i instalacja programu</p>
			</div>
		</div>
	</div>
  </div>
  <div id="main">
    <div class="mask">
	  <div id="box">
		  <div id="slide1">
			<center><img src="gfx/iStock_000013111776XSmall.jpg"/></center>
			<h6>Zleć swoje zadanie</h6>
			<p>Znajdź pomoc do prostych prac dla swojego domu i biznesu.</p>
			<p>Wszystko w pełni legalnie, bez żadnych pośredników i dodatkowych kosztów.</p>
		  </div>
		  <div id="slide2">
			<center><img src="gfx/iStock_000003496039XSmall.jpg"/></center>
			<h6>Wybierz najlepszą ofertę</h6>
			<p>Na bieżąco otrzymasz powiadomienia o składanych ofertach konkurujących ceną i reputacją wykonawcy.</p>
			<p>W dowolnej chwili wybierz wykonawcę lub anuluj zadanie.</p>
		  </div>
		  <div id="slide3">
			<center><img src="gfx/iStock_000014675112XSmall.jpg"/></center>
			<h6>Oceń współpracę</h6>
			<p>Ciesz się wolnym czasem, a po zakończeniu zadania oceń współpracę.</p>
			<p>Postaw na młodych w swojej lokalnej społeczności, zleć swoje pierwsze zadanie już teraz!</p>
		  </div>
		  <div id="slide4">
			<center><img src="gfx/iStock_000009815410XSmall.jpg"/></center>
			<h6>Stwórz swój profil</h6>
			<p>Pokaż się z najlepszej strony i dołącz do grona FuchMistrzów.</p>
			<p>Możemy wprowadzić Twoje oceny z innych serwisów.</p>
		  </div>
		  <div id="slide5">
			<center><img src="gfx/iStock_000016638161XSmall.jpg"/></center>
			<h6>Pracuj kiedy chcesz</h6>
			<p>Na bieżąco otrzymasz powiadomienia o nowych zadaniach w Twojej okolicy.</p>
			<p>Zgłoś swoją ofertę na interesujące Cię prace.</p>
		  </div>
		  <div id="slide6">
			<center><img src="gfx/iStock_000015998249XSmall.jpg"/></center>
			<h6>Poznaj wspaniałych ludzi</h6>
			<p>Nie siedź w domu, zarób i spędź fajnie czas.</p>
			<p>Dołącz do społeczności aktywnych ludzi, złap swoją pierwszą fuchę już teraz!</p>
		  </div>
      </div>
	</div>
  </div>
  <div id="panel">
	<div class="buttons" id="handles_2">
	  <h5>Szukam fajnej pracy</h5>
      <div>1. stwórz swój profil</div>
      <div>2. pracuj kiedy chcesz</div>
      <div>3. poznaj wspaniałych ludzi</div>
	</div>
	<div id="fuchmistrzowie">
		<h5>FuchMistrzowie</h5>
		<table width="100%">
			<tr><td>1</td><td>groszek</td><td>69</td><td><img src="gfx/gwiazdki.png"/></td></tr>
			<tr><td>2</td><td>bielix</td><td>50</td><td><img src="gfx/gwiazdki.png"/></td></tr>
			<tr><td>3</td><td>zenek</td><td>45</td><td><img src="gfx/gwiazdki.png"/></td></tr>
			<tr><td>4</td><td>ziutek</td><td>43</td><td><img src="gfx/gwiazdki.png"/></td></tr>
			<tr><td>5</td><td>franek</td><td>20</td><td><img src="gfx/gwiazdki.png"/></td></tr>
			<tr><td>6</td><td>dziunia</td><td>15</td><td><img src="gfx/gwiazdki.png"/></td></tr>
			<tr><td>7</td><td>bad_mf</td><td>13</td><td><img src="gfx/gwiazdki.png"/></td></tr>
			<tr><td>8</td><td>świstak</td><td>9</td><td><img src="gfx/gwiazdki.png"/></td></tr>
			<tr><td>9</td><td>boberek</td><td>6</td><td><img src="gfx/gwiazdki.png"/></td></tr>
			<tr><td>10</td><td>zbylu</td><td>2</td><td><img src="gfx/gwiazdki.png"/></td></tr>
		</table>
	</div>
  </div>
</div>
	<script type="text/javascript">google.load("mootools", "1.2.5");</script>
	<script type="text/javascript" src="scripts/_class.noobSlide.packed.js"></script>
	<script type="text/javascript" src="scripts/soundmanager2-nodebug-jsmin.js"></script>
	<script type="text/javascript">
	window.addEvent('domready',function(){
		var nS = new noobSlide({
			box: $('box'),
			items: $$('#box div'),
			size: 440,
			handles: $$('#handles_1 div').extend($$('#handles_2 div')),
			handle_event: 'mouseenter',
			autoPlay: true,
			interval: 4000,
			onWalk: function(currentItem,currentHandle){
				this.handles.removeClass('active');
				currentHandle.addClass('active');
			}
		});
		
		var nStasks = new noobSlide({
			mode: 'vertical',
			box: $('box_tasks'),
			items: $$('#box_tasks div'),
			size: 100,
			autoPlay: true,
			interval: 4000
		});
	});
	
	soundManager.url = 'swf/';
	soundManager.onready(function(){
		var mySound = soundManager.createSound({
			id: 'sonicLogo',
			url: 'mp3/Szzzybka_Fucha_sonic_logo.mp3'
		});
		mySound.play();
	});
	</script>
{% include "footer.html" %}
